
    <div class="c-about" id="o-nas">
        <div class="o-section">
            <div class="o-wrap o-wrap--narrow">
                
                <div class="o-cols anim anim--delay1 anim--up">
                    <div class="o-cols__item">
                        <article class="o-article">
                            <p>
                                <strong>BikeMe by Bapco</strong>
                            </p>
                            
                            <p>&nbsp;</p>
                            
                            <h4>Jeżeli tu jesteś to znaczy, że przynajmniej tak samo jak my, lubisz jeździć na rowerze.  Jego czyszczenie to jednak zupełnie inna, czasochłonna i często mniej przyjemna, kwestia, prawda?</h4>
                            
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            
                            <p>
                                <img src=<%= require("./img/assets/logo-bapco.svg") %> alt="bapco" width="117" height="60">
                            </p>
                        </article>
                    </div>
                    
                    <div class="o-cols__item anim anim--delay5 anim--up">
                        <article class="o-article">
                            <p>Niezależnie od tego, czy lubisz rekreacyjne przejażdżki, szybkie wyścigi, czy ekstremalne przygody… dobrze jest dbać o sprzęt, by służył jak najdłużej. Szczególnie wtedy, gdy kupiłeś/aś go za sporą sumę, a znalezienie argumentu na ten zakup zajęło Ci co najmniej kilka godzin.</p>
    
                            <p>&nbsp;</p>
                            
                            <p>Jesteśmy polskim producentem kosmetyków BikeMe by BAPCO przeznaczonych do czyszczenia, pielęgnacji i konserwacji rowerów. Nasze produkty to absolutna nowość na rynku. </p>
    
                            <p>&nbsp;</p>
                            
                            <p>Skuteczność, wydajność, szybkość działania – to cechy, których od dawna poszukujemy w produktach czyszczących, a teraz możemy podzielić się z Tobą efektem naszej pracy.</p>
    
                            <p>&nbsp;</p>
                            
                            <p>Zestaw 5 kroków – tyle potrzeba,<br> by Twój rower pozostał w formie. </p>
                        </article>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
