
    <div class="c-benefits">
        <div class="o-wrap o-wrap--narrow">
            
            <div class="c-benefits__content main-carousel main-carousel--mobile" id="benefits">
                <div class="c-benefits__item carousel-cell anim anim--delay1 anim--up">
                    <dl>
                        <dt>
                            <i class="icon-bio"></i>
                        </dt>
                        
                        <dd>
                            <span class="o-logo">
                                <img src=<%= require("./img/assets/logo-bikeme.svg") %> alt="bikeme">
                            </span>
                            
                            <article class="o-article">
                                <h5><strong>Przyjazne środowisku (BIO)</strong></h5>
                                
                                <p>Produkty BikeMe by Bapco są biodegradowalne. Dbają nie tylko o Twój sprzęt, ale także o nasze otoczenie.</p>
                            </article>
                        </dd>
                    </dl>
                </div>
                
                <div class="c-benefits__item carousel-cell anim anim--delay2 anim--up">
                    <dl>
                        <dt>
                            <i class="icon-drops"></i>
                        </dt>
                        
                        <dd>
                            <span class="o-logo">
                                <img src=<%= require("./img/assets/logo-bikeme.svg") %> alt="bikeme">
                            </span>
                            
                            <article class="o-article">
                                <h5><strong>Niezwykle wydajne</strong></h5>
                                
                                <p>Skoncentrowana formuła produktów BikeMe by Bapco sprawia, że są ekonomiczne w użyciu.</p>
                            </article>
                        </dd>
                    </dl>
                </div>
                
                <div class="c-benefits__item carousel-cell anim anim--delay3 anim--up">
                    <dl>
                        <dt>
                            <i class="icon-arrows"></i>
                        </dt>
                        
                        <dd>
                            <span class="o-logo">
                                <img src=<%= require("./img/assets/logo-bikeme.svg") %> alt="bikeme">
                            </span>
                            
                            <article class="o-article">
                                <h5><strong>Skuteczne</strong></h5>
                                
                                <p>Precyzyjnie dopracowany skład produktów BikeMe by Bapco gwarantuje zadowolenie z efektów czyszczenia.</p>
                            </article>
                        </dd>
                    </dl>
                </div>
            </div>
            
        </div>
    </div>
