
    <div class="c-contact"  id="kontakt">
        <div class="o-wrap o-wrap--narrow">
            
            <header class="o-header o-header--arrow">
                <h2>Kontakt</h2>

                <section class="o-further">
                    <a href="#reklamacje" class="icon-arrow-down reverse js-goto"></a>
                </section>
            </header>
            
            <div class="o-cols anim anim--delay1 anim--up">
                <div class="o-cols__item">
                    <article class="o-article">
                        <h5>Jeżeli masz pytania dotyczące naszych produktów, zapraszamy do kontaktu.</h5>
                        
                        <p>&nbsp;</p>
                        
                        <h5>Bapco<br>Bartosz Piątkowski</h5>
                        
                        <p>&nbsp;</p>
                        
                        <h5>
                            Tel. 533 056 873<br>
                            <a href="mailto:info@bapco.eu">info@bapco.eu</a>
                        </h5>
                    </article>                   
                </div>
                
                <div class="o-cols__item anim anim--delay5 anim--up">
                    
                    <% include contactform %>
                    
                </div>
            </div>
        </div>
                
    </div>
