
<div id="cover" class="u-cover" style="position: absolute; left: 0; top: 0; z-index: 200; width: 100%; height: 100%; background-color: #1a191c; background-image: url(<%= require("./img/assets/logo-bikeme.svg") %>); background-size: 130px 92px; background-repeat: no-repeat; background-position: center"></div>