
    <footer class="c-footer">
        <div class="o-wrap">
            
            <div class="o-cols">
                <div class="o-cols__item">
                    <a href="index.html" class="o-logo">
                        <img src=<%= require("./img/assets/logo-bikeme.svg") %> alt="bikeme" width="130" height="92">
                    </a>
                </div>

                <div class="o-cols__item">
                    
                    <% include navfooter-company %>
                    
                </div>
                
                <div class="o-cols__item">
                
                    <% include navfooter-products %>
                    
                </div>
                
                <div class="o-cols__item">
                    
                    <div class="c-social">
                        <ul>
                            <li>
                                <a href="#" class="icon-instagram"></a>
                            </li>
                            
                            <li>
                                <a href="#" class="icon-facebook"></a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
                
            <div class="c-footer__bottomline">
                <p>copyright &copy; 2020 BAPCO</p>
                <p>Projekt i realizacja: <a href="http://duind.com">Duind.com</a></p>
            </div>
        </div>
    </footer>
