
            <div class="c-hero">
                <div class="o-cols">
                    <div class="o-cols__item">
                        <figure>
                            <div class="photo">
                                <img srcset="./img/products/top.png 1x, ./img/products/top@2x.png 2x" src="./img/products/top.png" alt="">
                            
                                <div class="o-price">
                                    <p>Promocja</p>
                                    <p class="price">199<sup>*</sup></p>
                                    <p class="currency">pln</p>
                                    <p class="info">Zestaw</p>
                                </div>
                            </div>                            
                        </figure>
                    </div>
                    
                    <div class="o-cols__item">
                        <article class="o-article js-split" data-splitting>
                            <h3><strong>
                                BikeMe <a href="#">by Bapco</a> to 
                                szybki i&nbsp;prosty sposób 
                                na czysty rower 
                                w&nbsp;5&nbsp;krokach.
                            </strong></h3>

                            <p>&nbsp;</p>
                            <p>&nbsp;</p>

                            <h5><sup>*</sup> Cena promocyjna brutto pierwszych 50 zestawów, zawiera koszt wysyłki.</h5>
                            
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                        </article>
                        
                        <div class="o-more">
                            <a href="#" class="o-btn">Zamów teraz!</a>
                        </div>
                    </div>
                </div>
                
                <div class="o-further">
                    <a href="#benefits" class="icon-arrow-down js-goto"></a>
                </div>
            </div>
