
                    <nav class="c-navfooter">
                        <h5>Produkty</h5>
                        
                        <ul>
                            <li>
                                <a href="index.html#step-1" class="js-goto">Step One</a>
                            </li>
                            
                            <li>
                                <a href="index.html#step-2" class="js-goto">Step Two</a>
                            </li>
                            
                            <li>
                                <a href="index.html#step-3" class="js-goto">Step Three</a>
                            </li>
                            
                            <li>
                                <a href="index.html#step-4" class="js-goto">Step Four</a>
                            </li>
                            
                            <li>
                                <a href="index.html#step-5" class="js-goto">Step Five</a>
                            </li> 
                        </ul>
                    </nav>