
                    <nav class="c-navfooter">
                        <h5>Firma</h5>
                        
                        <ul>
                            <li>
                                <a href="polityka-prywatnosci.html#regulamin" class="js-goto">Regulamin</a>
                            </li>
                            
                            <li>
                                <a href="polityka-prywatnosci.html#kontakt" class="js-goto">Kontakt</a>
                            </li>
                            
                            <li>
                                <a href="polityka-prywatnosci.html#reklamacje" class="js-goto">Reklamacje</a>
                            </li>
                            
                            <li>
                                <a href="polityka-prywatnosci.html#polityka-prywatnosci" class="js-goto">Polityka prywatności</a>
                            </li>
                            
                            <li>
                                <a href="#">Zwroty</a>
                            </li> 
                        </ul>
                    </nav>
