
    <div class="c-order" id="zamow">
        <div class="o-section">
            <div class="o-wrap o-wrap--narrow">
                
                <div class="o-cols anim anim--delay1 anim--up">
                    <div class="o-cols__item">
                        <article class="o-article">
                            <h5>BikeMe by Bapco szybki prosty sposób na czysty rower.</h5>
                            
                            <p>&nbsp;</p>
                            
                            <h5>Cena całkowita zestawu wraz z&nbsp;przesyłką.</h5>
                        </article>
                        
                        <div class="c-order__price">
                            <p class="value">199<sup>*</sup></p>
                            <p class="currency">PLN / brutto</p>                            
                        </div>
                        
                        <article class="o-article o-article--policy">
                            <h6><sup>*</sup> Cena promocyjna, która obejmuje pierwsze 50 zestawów.</h6>


                            <h6>Nasze zestawy dostarcza kurier GLS.
                            Czas realizacji (2-3 dni robocze).</h6>
                            
                            <p>&nbsp;</p>
                            
                            <img src=<%= require("./img/assets/logo-payu.svg") %> alt="payu" width="115" height="57">
                        </article>
                    </div>
                    
                    <div class="o-cols__item anim anim--delay5 anim--up">
                        
                        <% include orderform %>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
