
                        <div class="c-orderform">
                            
                            <form action="#">
                                
                                <div class="form-row">
                                    <div class="form-group">
                                        <input type="text" placeholder="Imię *">
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="text" placeholder="Nazwisko *">
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="email" placeholder="E-mail *">
                                    </div>
                                </div>
                                
                                <div class="form-row">
                                    <div class="form-group">
                                        <input type="text" placeholder="Adres doręczenia (Ulica, nr domu, nr lokalu) *">
                                    </div>
                                </div>
                                
                                <div class="form-row">
                                    <div class="form-group">
                                        <input type="text" placeholder="Adres doręczenia (Miejscowość, kod pocztowy) * ">
                                    </div>
                                </div>
                                
                                <div class="form-row">
                                    <div class="form-group">
                                        <input type="text" placeholder="Telefon kontaktowy *">
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="text" placeholder="NIP (Wymagane do Faktury VAT)">
                                    </div>
                                </div>
                                
                                <div class="form-row">
                                    <div class="form-group">
                                        <textarea placeholder="Uwagi do zamówienia"></textarea>
                                    </div>
                                </div>
                                
                                <div class="form-row form-row--checkbox">
                                    <div class="form-group">
                                        
                                        <input type="checkbox"  id="agree-1">
                                        <label for="agree-1">
                                            <i></i>
                                            <span>Akceptuję <a href="#">regulamin</a> oraz politykę prywatności,  dolor sit amet, consectetur adipiscing elit, sed do eiusmod empor incididunt ut labore et dolore magna aliqua. </span>
                                        </label>
                                        
                                    </div>
                                </div>
                                
                                <div class="form-row form-row--checkbox">
                                    <div class="form-group">
                                        
                                        <input type="checkbox"  id="agree-2">
                                        <label for="agree-2">
                                            <i></i>
                                            <span>Zgadzam się na przesyłanie ofert handlowych drogą mailową
consectetur adipiscing elit,</span>
                                        </label>
                                    </div>
                                </div>
                                
                                <div class="form-row form-row--submit">
                                    <div class="form-group">
                                        <button type="submit" class="o-btn">
                                            <span>Zamawiam zestaw!</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
