
    <div class="c-products" id="produkty">
        <div class="o-wrap">
            
            <div class="c-products__header">
                <article class="o-article js-split" data-splitting>
                    <h5>
                        <strong>BikeMe <a href="#">by Bapco</a></strong>
                    </h5>
                    
                    <h4>
                        <strong>to szybki i prosty sposób na</strong>
                    </h4>
                    
                    <h2>
                        <strong>czysty rower w&nbsp;5&nbsp;krokach.</strong>
                    </h2>
                </article>
            </div>
    
            <% include steps %>
            
        </div>
    </div>
