
            <ul class="c-steps">
                
                <li class="c-steps__item step-1 align-center js-rellax" data-rellax-speed="1" id="step-1">
                    <div class="o-cols">
                        <div class="o-cols__item">

                            <figure>
                                <figcaption class="anim anim--left">
                                    <p class="o-lead o-lead--4">Citrus Cleaner</p>
                                    <p class="o-lead o-lead--5">500 ml</p>
                                </figcaption>
                                
                                <div class="photo">
                                    <div class="product">
                                        <img srcset="./img/products/step-01.png 1x, ./img/products/step-01@2x.png 2x" src="./img/products/step-01.png" alt="">
                                        <div class="o-sticker">
                                            <span class="num">1</span>
                                            <span class="txt">step one</span>
                                        </div>
                                    </div>
                                    
                                    <i class="dust"></i>
                                    
                                </div>
                            </figure>                            
                        </div>
                        
                        <div class="o-cols__item">
                            
                            <article class="o-article anim anim--right">
                                <div class="o-attributes">
                                    <ul>
                                        <li>
                                            <i class="icon-attr-1"></i>
                                        </li>
                                        
                                        <li>
                                            <i class="icon-attr-2"></i>
                                        </li>
                                        
                                        <li>
                                            <i class="icon-attr-3"></i>
                                        </li>
                                        
                                        <li>
                                            <i class="icon-attr-4"></i>
                                        </li>
                                    </ul>
                                </div>
                                
                                <h5>Środek czyszczący oraz odtłuszczający</h5>
                                
                                <p>Środek czyszczący na bazie naturalnych olejów cytrusowych, gotowy do użycia. Przyjazny dla środowiska, biodegradowalny. Przeznaczony do czyszczenia roweru. Usuwa pozostałości olejów i smarów oraz zabrudzenia rodzaju organicznego nie niszcząc podłoża.</p>
                                
                                <p>&nbsp;</p>
                                
<p>Ma właściwości odtłuszczające. Nie szkodzi komponentom roweru. Po odparowaniu nie zostawia smug  i pozostawia powierzchnię czystą i suchą. Bezpieczny dla większość tworzyw sztucznych oraz powłok lakierowanych.</p>
                            </article>
                        </div>
                    </div>
                </li>
                
                
                <li class="c-steps__item step-2 align-right js-rellax" data-rellax-speed="1.5" id="step-2">
                    <div class="o-cols">
                        <div class="o-cols__item">

                            <figure>
                                <figcaption class="anim anim--right">
                                    <p class="o-lead o-lead--4">Foam cleaner</p>
                                    <p class="o-lead o-lead--5">500 ml</p>
                                </figcaption>
                                
                                <div class="photo">
                                    <div class="product">
                                        <img srcset="./img/products/step-02.png 1x, ./img/products/step-02@2x.png 2x" src="./img/products/step-02.png" alt="">
                                    </div>
                                    
                                    <i class="dust"></i>
                                    <div class="o-sticker">
                                        <span class="num">2</span>
                                        <span class="txt">step two</span>
                                    </div>
                                </div>
                            </figure>                            
                        </div>
                        
                        <div class="o-cols__item">
                            
                            <article class="o-article anim anim--left">
                                
                                <div class="o-attributes">
                                    <ul>
                                        <li>
                                            <i class="icon-attr-1"></i>
                                        </li>
                                        
                                        <li>
                                            <i class="icon-attr-2"></i>
                                        </li>
                                        
                                        <li>
                                            <i class="icon-attr-3"></i>
                                        </li>
                                        
                                        <li>
                                            <i class="icon-attr-5"></i>
                                        </li>
                                    </ul>
                                </div>
                                
                                <h5>Aktywna piana myjąca w&nbsp;aerozolu</h5>
                                
                                <p>Skoncentrowana, niezwykle wydajna, aktywna piana myjąca przeznaczona do codziennej pielęgnacji roweru. Łatwa w aplikowaniu struktura ułatwia usuwanie nawet najtrudniejszych zabrudzeń. Neutralne PH sprawia, że preparat ten jest bezpieczny dla wszystkich powierzchni. Nie szkodzi komponentom roweru.</p>
                            </article>
                        </div>
                    </div>
                </li>
                
                
                <li class="c-steps__item step-3 align-left js-rellax" data-rellax-speed="1.5" id="step-3">
                    <div class="o-cols">
                        <div class="o-cols__item">

                            <figure>
                                <figcaption class="anim anim--left">
                                    <p class="o-lead o-lead--4">Wipes cleaner</p>
                                    <p class="o-lead o-lead--5">40 szt.</p>
                                </figcaption>
                                
                                <div class="photo">
                                    <div class="product">
                                        <img srcset="./img/products/step-03.png 1x, ./img/products/step-03@2x.png 2x" src="./img/products/step-03.png" alt="">
                                    </div>

                                    <i class="dust"></i>
                                    <div class="o-sticker">
                                        <span class="num">3</span>
                                        <span class="txt">step three</span>
                                    </div>
                                </div>
                            </figure>                            
                        </div>
                        
                        <div class="o-cols__item">
                            
                            <article class="o-article anim anim--right">
                                
                                <div class="o-attributes">
                                    <ul>
                                        <li>
                                            <i class="icon-attr-1"></i>
                                        </li>
                                        
                                        <li>
                                            <i class="icon-attr-2"></i>
                                        </li>
                                        
                                        <li>
                                            <i class="icon-attr-3"></i>
                                        </li>
                                        
                                        <li>
                                            <i class="icon-attr-4"></i>
                                        </li>
                                    </ul>
                                </div>
                                
                                <h5>Chusteczki czyszczące</h5>
                                
                                <p>Uniwersalne, wygodne chusteczki czyszczące do każdego rodzaju powierzchni. Usuwają nawet najbardziej oporne zabrudzenia. Testowane dermatologicznie, stanowią bezpieczną alternatywę dla tradycyjnych środków czyszczących rowerowe komponenty.</p>
                            </article>
                        </div>
                    </div>
                </li>
                
                
                <li class="c-steps__item step-4 align-right js-rellax" data-rellax-speed="1.5" id="step-4">
                    <div class="o-cols">
                        <div class="o-cols__item">

                            <figure>
                                <figcaption class="anim anim--right">
                                    <p class="o-lead o-lead--4">Polish &amp;&nbsp;shine</p>
                                    <p class="o-lead o-lead--5">200 ml</p>
                                </figcaption>
                                
                                <div class="photo">
                                    <div class="product">
                                        <img srcset="./img/products/step-04.png 1x, ./img/products/step-04@2x.png 2x" src="./img/products/step-04.png" alt="">
                                    </div>
                                    
                                    <i class="dust"></i>
                                    <div class="o-sticker">
                                        <span class="num">4</span>
                                        <span class="txt">step four</span>
                                    </div>
                                </div>
                            </figure>                            
                        </div>
                        
                        <div class="o-cols__item">
                            
                            <article class="o-article anim anim--left">
                                
                                <div class="o-attributes">
                                    <ul>
                                        <li>
                                            <i class="icon-attr-1"></i>
                                        </li>
                                        
                                        <li>
                                            <i class="icon-attr-2"></i>
                                        </li>
                                        
                                        <li>
                                            <i class="icon-attr-3"></i>
                                        </li>
                                        
                                        <li>
                                            <i class="icon-attr-4"></i>
                                        </li>
                                    </ul>
                                </div>
                                
                                <h5>Środek do nabłyszczania</h5>
                                
                                <p>Uniwersalny środek do nabłyszczania, przeznaczony do każdego rodzaju ramy. Bezpieczny dla karbonowych powierzchni. Nadaje połysk i doskonale konserwuje. Zapobiega zbyt szybkiemu  zabrudzaniu się. Odpowiedni także do stosowania na opony i obręcze. Idealne uzupełnienie preparatów czyszczących z linii kosmetyków rowerowych BikeME.  </p>
                            </article>
                        </div>
                    </div>
                </li>
                
                
                <li class="c-steps__item step-5 align-left js-rellax" data-rellax-speed="1.5" id="step-5">
                    <div class="o-cols">
                        <div class="o-cols__item">

                            <figure>
                                <figcaption class="anim anim--left">
                                    <p class="o-lead o-lead--4">Bike lube ptfe</p>
                                    <p class="o-lead o-lead--5">200 ml</p>
                                </figcaption>
                                
                                <div class="photo">
                                    <div class="product">
                                        <img srcset="./img/products/step-05.png 1x, ./img/products/step-05@2x.png 2x" src="./img/products/step-05.png" alt="">
                                    </div>
                                    
                                    <i class="dust"></i>
                                    <div class="o-sticker">
                                        <span class="num">5</span>
                                        <span class="txt">step five</span>
                                    </div>
                                </div>
                            </figure>                            
                        </div>
                        
                        <div class="o-cols__item">
                            
                            <article class="o-article anim anim--right">
                                
                                <div class="o-attributes">
                                    <ul>
                                        <li>
                                            <i class="icon-attr-1"></i>
                                        </li>
                                        
                                        <li>
                                            <i class="icon-attr-2"></i>
                                        </li>
                                        
                                        <li>
                                            <i class="icon-attr-3"></i>
                                        </li>
                                        
                                        <li>
                                            <i class="icon-attr-4"></i>
                                        </li>
                                    </ul>
                                </div>
                                
                                <h5>Smar z PTFE</h5>
                                
                                <p>Niezwykle wydajny smar o unikalnej, suchej formule z dodatkiem teflonu (PTFE). Doskonale wypiera wodę. Nie jest toksyczny. Długo utrzymuje się w miejscu zaaplikowania. Nie zbiera brudu. Dba o płynną i cichą pracę napędu roweru. Zapobiega nadmiernemu wyciąganiu łańcucha.</p>
                            </article>
                        </div>
                    </div>
                </li>
                
            </ul>
            