
            <div class="c-top">
                <div class="o-wrap">
                    <a href="index.html" class="o-logo">
                        <img src=<%= require("./img/assets/logo-bikeme.svg") %> alt="bikeme" width="153" height="109">
                    </a>
                    
                    <% include nav %>
                    
                    <div class="o-bapco">
                        <img src=<%= require("./img/assets/logo-bapco.svg") %> alt="bapco" width="117" height="60">
                    </div>
                </div>
            </div>