.o-article {
    
    a {
        &:not(.o-btn) {
            color: $c-primary;
        }
    }
    
    h2 {
        @extend %lead--2;
    }
    
    h3 {
        @extend %lead--3;
    }
    
    h4 {
        @extend %lead--4;
    }
    
    h5 {
        @extend %lead--5;
        line-height: 1.6em;
    }
    
    h6 {
        @extend %lead--6;
    }
    
    p, li {
        line-height: 1.8em;
    }
    
    sup {
        color: $c-primary;
    }
    
    
    
    &__indent {
        padding-left: 105px;
        
        @media ( max-width: $base2 + px ) {
        	padding-left: base2(105);
        }
        
        @media ( max-width: $tablet_portrait + px ) {
        	padding: 0;
        }
    }
}