.o-further {    
    a {
        @extend %flex;
        @extend %flex-xy;        
        width: 56px; height: 56px;
        border-radius: 50%;
        border: 1px solid $c-gray-02;
        margin: 0 auto;
        font-size: rem(28);
        color: $c-gray-02;
        
        &.reverse {
            &:before {
                transform: scaleY(-1);
            }
        }
    }
}