[class^="icon-"], [class*=" icon-"] {
  &:before {
      font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
}
.icon-attr-1:before {
  content: "\e906";
}
.icon-attr-2:before {
  content: "\e907";
}
.icon-attr-3:before {
  content: "\e908";
}
.icon-attr-4:before {
  content: "\e909";
}
.icon-attr-5:before {
  content: "\e90a";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrows:before {
  content: "\e901";
}
.icon-bio:before {
  content: "\e902";
}
.icon-drops:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
