.o-section {
    padding: {
        top: 100px;
        bottom: 100px;
    }
    
    @media ( max-width: $tablet_portrait + px ) {
    	padding: {
            top: 60px;
            bottom: 60px;
        }
    }
}