.c-about {
    background: {
        image: url(../img/bg/about.jpg);
        size: cover;
        position: center;
    }

    .o-article {
        h4 {
            line-height: 1.6em;
            font-size: rem(26);
            color: $c-primary;
        }
    }

    .o-cols {
        
        
        &__item {
            width: calc(50% - 10px);
            
            &:first-of-type {
                .o-article {
                    padding-right: 85px;
                }
            }
        }
    }
}