.c-hero {
    
    .o-article {
        padding-right: 85px;
        
        h3 {
            margin-bottom: 1em;
        }
        
        h5 {
            margin-bottom: 3em;
        }
    }
    
    .o-cols {
        &__item {
            width: grid(610, $base - 126);
        }
        
        figure {
            @extend %rel;
            display: inline-block;
        }
    }
    
    .o-price {
        animation: fade-in 1s cubic-bezier(.5, 0, .5, 1) both;
        animation-delay: 1.8s;
    }
    
    .splitting .word {
        opacity: 0;
    }
    
    .startsplit {
        .word {
            opacity: 1;
            animation: slide-left 1s cubic-bezier(.5, 0, .5, 1) both;
            animation-delay: calc(60ms * var(--word-index));
        }
    }
    
    .o-btn {
        animation: slide-left 1s cubic-bezier(.5, 0, .5, 1) both;
        animation-delay: 1s;
    }
    
    .o-further {
        animation: pulse 1s infinite;
        padding: 40px 0;
        
                
        a {
            &:hover {
                .desktop & {
                    border-color: white;
                    color: white;
                }
            }
        }
    }
    
    .photo {
        animation: fadegray-in 2s cubic-bezier(.5, 0, .5, 1) both;
        animation-delay: 1s;
    }    
}

@keyframes pulse {
   
    50% {
        transform: translate3d(0, 5px, 0);
    }
   
}

@keyframes slide-left {
    from {
        transform: translate3d(50px, 0, 0);
        opacity: 0;      
    }
}

@keyframes fadegray-in {
    0%   {
        opacity: 0;
        filter: grayscale(1);
    }
    
    50% {
        opacity: 1;
        filter: grayscale(1);
        
    }
    
    100% {
        
        
    }

}

@keyframes fade-in {
    from {
        opacity: 0; 
    }
}
