.c-orderform {

    .form-row {
        
        &:not(:first-of-type) {
            max-width: 505px;
        }
        
        
    }
    
    textarea {
        margin-bottom: 25px;
    }
    
    a {
        color: $c-primary;
        
        &:hover {
            .desktop & {
                color: $c-green-02;
            }
        }
    }
}
