.c-orderform {

    .form-row {
        
        @media ( max-width: 900px ) {
        	flex-wrap: wrap;
        }
        
        &:not(:first-of-type) {
            max-width: 505px;
        }
        
        &:first-of-type {
            .form-group {
                &:nth-of-type(1),
                &:nth-of-type(2) {
                    
                    @media ( min-width: $smartphone_portrait + 1px ) and ( max-width: 900px ) {
                        flex: 50%;
                    }
                }
            }
        }
        
        .form-group {
            @media ( max-width: $smartphone_portrait + px ) {
            	flex: 100%;
            }
        }
    }
    
    textarea {
        margin-bottom: 25px;
    }
    
    a {
        color: $c-primary;
        
        &:hover {
            .desktop & {
                color: $c-green-02;
            }
        }
    }
}
