.c-social {
    @extend %flex;
    
    @media ( max-width: $smartphone_portrait + px ) {
        margin-bottom: 30px;
    }

    ul {
        @extend %flex;
        
        @media ( min-width: $tablet_portrait + 1px ) {
            margin: 0 0 0 auto;        	
        }
         
        li {
            &:not(:first-child) {
                margin-left: 20px;
            }

            [class^="icon-"] {
                @extend %flex;
                @extend %flex-xy;
                width: 55px; height: 55px;
                background-color: $c-gray-02;
                border-radius: 50%;
                font-size: rem(24);
                
                &:hover {
                    .desktop & {
                        background-color: $c-primary;
                    }
                }
            }
            
        }
    }
}
