.c-steps {
    padding: {
        left: 105px;
        right: 105px;
    }
    
    @media ( max-width: $tablet + px ) {
    	padding: 0;
    }
    
    figure {
        @extend %flex;
        
        @media ( max-width: $smartphone_portrait + px ) {
            flex-direction: column;
    	    flex-wrap: wrap;
        	width: 100%;
        	margin-bottom: 20px;
        }
    }

    figcaption {
        @extend %rel;
        z-index: 5;
        
        @media ( max-width: $smartphone_portrait + px ) {
            width: 100%;
        	order: 2;
        	text-align: center;
        }
    }
    
    &__item {
        max-width: 820px;
        padding: {
            top: 60px;
            bottom: 60px;
        }
        color: white;
        
        @media ( max-width: $smartphone_portrait + px ) {
        	padding-top: 20px;
        	padding-bottom: 0;
        }
        
        .o-lead {
            &--4 {
                @extend %rel;
                
                line-height: 1.1em;
                text-transform: uppercase;
                font-weight: $bold;
                color: $c-primary;
                
                @media ( min-width: $smartphone_portrait + 1px ) {
                	max-width: 210px;
                }
                
                &:after {
                    @extend %abs-pseudo;
                    top: calc(100% + 15px);
                    width: 105px; height: 1px;
                    background-color: white;
                    
                    @media ( max-width: $smartphone_portrait + px ) {
                    	left: 50%;
                    	transform: translateX(-50%);
                    }
                }
            }
        }        
    }
    
    .o-attributes {
        @extend %abs;
        transform: translate3d(0, -100%, 0) translate3d(0, -20px, 0);

        @media ( max-width: $smartphone_portrait + px ) {
        	left: 50%; top: -185px;
        	transform: translateX(-50%);
        }
    }
    
    .o-cols {

        @media ( min-width: $smartphone_portrait + 1px ) and ( max-width: $tablet_portrait + px ) {
        	display: flex;
        	justify-content: space-between;
        }

        &__item {
            width: grid(400, 820);
            
            @media ( max-width: $tablet_portrait + px ) {
            	width: calc(50% - 10px);
            }
            
            @media ( max-width: $smartphone_portrait + px ) {
            	width: 100%;
            }
 
            h5 {
                color: $c-primary;
                
                @media ( min-width: $smartphone_portrait + 1px ) {
	                max-width: 300px;
                }
            }
            
            .o-article {   
                
                @media ( max-width: $smartphone_portrait + px ) {
                	text-align: center;
                }
                
                h5 {
                    margin-bottom: 1.2em;
                }             

                p {
                    font-size: rem(12);
                }
            }
        }
    }
    
    .o-lead {        
        &--4 {
            margin-bottom: 40px;
        }
    }

    .photo {
        @extend %rel;
        display: block;
        width: 190px;
        margin: 0 0 0 auto;
        
        @media ( min-width: $smartphone_portrait + px ) {
        	text-align: center;
        }
        
        @media ( max-width: $smartphone_portrait + px ) {
        	margin: 0 auto 100px auto;
        	width: 70px;
        }
        
        .product {
            @extend %rel;
            display: inline-block;
        }
        
        .dust {
            @extend %abs;
            @extend %abs-xy;
            z-index: -2;
            width: 368px;
            height: 368px;
            background-color: $c-black-03;
            border-radius: 50%;
            
            @media ( max-width: $smartphone_portrait + px ) {
            	width: 180px; height: 180px;
            }
            
            &:after {
                @extend %abs-pseudo;
                
                top: -10px; right: -10px;
                width: 440px;
                height: 440px;
                background: {
                    image: url(../img/assets/dust.png);
                    size: cover;
                    position: center;
                }
                border-radius: 50%;
                
                @media ( max-width: $smartphone_portrait + px ) {
                	width: 280px; height: 280px;
                	top: -20px;
                }
            }
        }        
       
        img {
           margin: 0 auto;
        }
    }
    
    
    


    
    // Positions 

    .align-center,
    .align-left {
        
        figcaption {
           text-align: right;
           
           @media ( max-width: $smartphone_portrait + px ) {
            	text-align: center;
            }
        }
        
        .o-lead {        
            &--4 {                    
                &:after {
                    right: 0;
                }
            }
        }
        
        .o-sticker {
            right: 80px;
            
            @media ( max-width: $tablet_portrait + px ) {
            	right: tablet_portrait(80);
            }
            
            
        }
    }

    .align-center {
        margin: 0 auto;
    }
    
    .align-left {
        
        @media ( min-width: $smartphone_portrait + 1px ) {
            margin-left: -20px;	
        }
    }
        
    .align-right {
        margin: 0 0 0 auto;
        
        figure {
            flex-direction: row-reverse;
        }
        
        h5 {
            margin-right: 0;
            margin-left: auto;
        }
        
        .o-article {
            text-align: right;
            
            @media ( max-width: $smartphone_portrait + px ) {
            	text-align: center;
            }
        }
        
        .o-attributes {
            
            @media ( min-width: $smartphone_portrait + 1px ) {
	            right: 0;
            }
        }
        
        .o-sticker {
            left: 130px;
            
            @media ( max-width: $tablet_portrait + px ) {
                left: tablet_portrait(130);
            }
        }

        .o-cols {
            flex-direction: row-reverse;
        }
    }
 

    
    
    
    
    // Overwrite
        
    .step-1, .step-2 {
        figcaption,
        .o-article {
            padding-top: 120px;
            
            @media ( max-width: $tablet_portrait + px ) {
            	padding-top: tablet_portrait(120);
            }
            
            @media ( max-width: $smartphone_portrait + px ) {
            	padding-top: 0;
            }
        }
    }
    
    .step-1 {
        .o-sticker {
            @media ( max-width: $tablet_portrait + px ) {
            	right: tablet_portrait(60);
            }
            
            @media ( max-width: $smartphone_portrait + px ) {
            	right: -10px;
            	bottom: -20px;
            }
        }
    }
    
    .step-2 {
        .o-sticker {
            @media ( max-width: $tablet_portrait + px ) {
            	left: tablet_portrait(100);
            }
            
            @media ( max-width: $smartphone_portrait + px ) {
            	left: 15px;
            	bottom: 0;
            }
        }
    }

    
    
    
    
    .step-1, .step-5 {
        .photo {
            
            @media ( min-width: $smartphone_portrait + 1px ) {
                padding-left: 20px;	
            }
        }
    }
    
    .step-3,
    .step-4,
    .step-5 {
        figcaption,
        .o-article {
            padding-top: 80px;
            
            @media ( max-width: $tablet_portrait + px ) {
            	padding-top: tablet_portrait(80);
            }
            
            @media ( max-width: $smartphone_portrait + px ) {
            	padding-top: 0;
            }
        }        
    }
    
    .step-2,
    .step-4  {
        .photo {
            width: 220px;
            
            @media ( min-width: $smartphone_portrait + 1px ) {
                padding-right: 20px;
            }
            
            @media ( max-width: $smartphone_portrait + px ) {
            	width: 70px;
            }
        }
    }

    
    
    .step-3 {
        
        .o-sticker {
            right: 110px;
            bottom: 0;
            
            @media ( max-width: $tablet_portrait + px ) {
            	right: tablet_portrait(110);
            	bottom: tablet_portrait(-20);
            }
            
            @media ( max-width: $smartphone_portrait + px ) {
            	right: 30px;
            }
        }
        
        .photo {
            width: 210px;
            
            @media ( min-width: $smartphone_portrait + 1px ) {
                text-align: right;
            }
            
            @media ( max-width: $smartphone_portrait + px ) {
            	width: 96px;
            }
            
            img {
                @media ( min-width: $smartphone_portrait + 1px ) {
                    margin: 0 0 0 auto;
                }
            }
        }        
    }
    
    .step-4 {
        .o-sticker {
            bottom: 0;
            
            @media ( max-width: $tablet_portrait + px ) {
            	left: tablet_portrait(90);
            }
            
            @media ( max-width: $smartphone_portrait + px ) {
            	left: 20px;
            	bottom: 0;
            }
        }
    }
    
    .step-5 {
        .o-sticker {
            bottom: 30px;
            right: 128px;
            
            @media ( max-width: $tablet_portrait + px ) {
            	right: tablet_portrait(128);
            }
            
            @media ( max-width: $tablet_portrait + px ) {
            	bottom: tablet_portrait(30);
            }
            
            @media ( max-width: $smartphone_portrait + px ) {
            	right: 15px;
            	bottom: -10px;
            }
        }
    }
}