.c-subsite {
    padding-top: 170px;
    overflow: hidden;
    
    @media ( max-width: $smartphone_portrait + px ) {
    	padding-top: 240px;
    }
    
    .o-article {
        @extend %rel;
        padding: 50px 0;
        
        ul, ol {
            padding-left: 40px;
            
            @media ( max-width: $smartphone_portrait + px ) {
            	padding-left: smartphone_portrait(40);
            }
        }
    
        ul, ol {
            counter-reset: section;
    
            li {
                @extend %rel;
                padding-left: 35px;
                
                @media ( max-width: $smartphone_portrait + px ) {
                	padding-left: smartphone_portrait(35);
                }
                
                &:before {
                    @extend %abs;
                    left: 0; top: 0;
                    counter-increment: section;
                    color: $c-primary;
                }
            }
        }
        
        ol {
            li {
                &:before {
                    content: counter(section, decimal) ". ";
                }
            }
        }
        
        ul {
            li {
                &:before {
                    content: counter(section, lower-alpha) ") ";
                }
            }
        }              
    }
    
    .o-header {
        @media ( max-width: $base + px ) {
        	margin-left: 105px;
        }
        
        @media ( max-width: $base2 + px ) {
        	margin-left: base2(105);
        }
        
        @media ( max-width: $tablet_portrait + px ) {
            margin-left: 0;
        }
    }
}