.c-top {
	 @include z-index(top);
	 @extend %abs;
	 left: 0; top: 0;
	 width: 100%;
	 height: 170px;
	 margin-bottom: 20px;
	 
	 .o-bapco {
        @extend %abs;
    	 
        @media ( min-width: $smartphone_portrait + 1px ) {
            right: 63px; top: 43px;
        }
    	 
        @media ( max-width: $smartphone_portrait + px ) {
    		left: smartphone_portrait(25); top: 160px;
        }
	 }
	 
	 .o-logo {
    	 @extend %flex;
	 }
	 
	 .o-wrap {
    	 @extend %flex;
    	 @extend %rel;
    	 height: 100%;
	 }
}