<% include ./src/includes/head %>

    <% include ./src/includes/top %>
    
    <div class="c-home">
        <div class="o-wrap">
            
            <% include ./src/includes/hero %>

        </div>
    </div>
    
    <% include ./src/includes/benefits %>
    <% include ./src/includes/products %>
    <% include ./src/includes/instagram %>
    <% include ./src/includes/about %>
    <% include ./src/includes/order %>
    <% include ./src/includes/footer %>

</body>
</html>
