<% include ./src/includes/head %>
<body>

    <% include ./src/includes/top %>
    
    <div class="c-subsite">
        <div class="o-wrap o-wrap--narrow">
            
            <article class="o-article" id="polityka-prywatnosci">
                
                <header class="o-header o-header--arrow">
                    <h2>Polityka prywatności</h2>

                    <section class="o-further">
                        <a href="#regulamin" class="icon-arrow-down js-goto"></a>
                    </section>
                </header>
                
                
                <section class="o-article__indent">
                    
<p>Administratorem strony internetowej www.bikeme.bapco.eu jest firma </p>
<p>BARTOSZ PIĄTKOWSKI BAPCO, ul. Adres 5, 62-010 Pobiedziska.</p>
<p>Kontakt z administratorem możliwy pod adresem e-mail: daneosobowe@bikeme.bapco.eu</p>
<p>Na potrzeby niniejszej polityki prywatności, przyjmuje się następujące znaczenie poniższych pojęć:</p>

<p>&nbsp;</p>

<p><strong>Administrator</strong> - BARTOSZ PIĄTKOWSKI BAPCO, ul. Fabryczna 16, 62-010 Pobiedziska.</p>
<p><strong>Strona</strong> – strona internetowa dostępna pod adresem www.bikeme.bapco.eu.</p>
<p><strong>Użytkownik</strong>– każdy podmiot, który korzysta ze Strony.</p>

<p>&nbsp;</p>

<p>
Użytkownik może przekazywać swoje dane osobowe Administratorowi za pomocą formularza kontaktowego dostępnego na Stronie. Administratorem danych osobowych Użytkownika jest Administrator.
Dane przekazane Administratorowi w ramach formularza kontaktu (tj. adres e-mail, imienia oraz telefonu kontaktowego) przetwarzane są w celu podjęcia akcji zawartej w formularzu.
</p>

<p>&nbsp;</p>

<p>
Ponadto Użytkownik może przekazywać swoje dane osobowe Administratorowi za pomocą wiadomości e-mail wysłanej na udostępnione na stronie adresy Administratora lub telefonicznie poprzez kontakt z udostępnionymi na stronie numerami telefonów.
</p>

<p>&nbsp;</p>

<p>
Podanie danych jest zawsze dobrowolne, ale niezbędne do podjęcia przez Użytkownika akcji, do której przeznaczony jest formularz lub zrealizowania żądania zawartego w skierowanym do niego e-mailu wysłanego na udostępniony na stronie adres/adresy lub zrealizowania żądania zawartego w rozmowie telefonicznej. Administrator uzyskane w ten sposób dane osobowe przetwarza na podstawie art. 6 ust. 1 lit. b) RODO. Ponadto Administrator będzie przetwarzał pozyskane dane osobowe:
</p>

<p>&nbsp;</p>

                    <ul>
                        <li>w celu świadczenia usług drogą elektroniczną oraz zawierania umów sprzedaży – podstawą prawną przetwarzania danych osobowych jest art. 6 ust. 1 lit. b) RODO,</li>
                        
<li>w celu kierowania treści marketingowych - podstawą prawną przetwarzania danych osobowych jest prawnie uzasadniony interes Administratora art. 6 ust. 1 lit. f) RODO; uzasadniony interes Administratora polega na przesyłaniu do Użytkownika treści marketingowych w okresie świadczenia na rzecz Użytkownika usług, drogą elektroniczną, pocztą oraz dodatkowo w sposób, na który Użytkownik wyraziła zgodę,

<li>w celu kierowania treści marketingowych na podstawie uzyskanej zgody Użytkownika - podstawą prawną przetwarzania danych osobowych jest prawnie uzasadniony interes Administratora art. 6 ust. 1 lit. a) RODO;

<li>w celu kierowania do Użytkownika newslettera, na co Użytkownik wyrazi zgodę podstawą prawną przetwarzania danych osobowych jest prawnie uzasadniony interes Administratora art. 6 ust. 1 lit. a) RODO;</li>
                    </ul>

<p>&nbsp;</p>

<p>Administrator będzie przetwarzał dane osobowe wyłącznie do czasu zrealizowania akacji, do którego przeznaczony jest formularz lub do momentu zrealizowania żądania zawartego w skierowanym do niego e-mailu. W przypadku gdy:</p>

<p>&nbsp;</p>

<ol>
    <li>dane osobowe przetwarzanych są w celu zawarcia i wykonania umów – przez czas niezbędny do wykonania 			wszystkich obowiązków wynikających z umów,</li>
    
    <li>dane osobowe przetwarzane są w celu kierowania do Użytkownika treści marketingowych w okresie realizacji umów zawartych z Użytkownikiem – do czasu zakończenia realizacji Umów</li>

    <li>dane osobowe przetwarzane są w celu kierowania do Użytkownika treści marketingowych na podstawie zgody – do czasu wniesienia przez Użytkownika sprzeciwu względem przetwarzania danych osobowych w tym zakresie,</li>
	
	<li>dane osobowe przetwarzane są w celu kierowania do Użytkownika newsletters na podstawie zgody – do czasu wniesienia przez Użytkownika sprzeciwu względem przetwarzania danych osobowych w tym zakresie.</li>
</ol>

<p>&nbsp;</p>

<p>
Administrator będzie profilował pozyskane dane osobowe Użytkowników.
Administrator gwarantuje poufność wszelkich przekazanych mu danych osobowych.
Administrator przywiązuje szczególną wagę do kwestii zachowania Państwa prywatności i ochrony Państwa danych osobowych. Jako administrator danych dbamy o bezpieczeństwo danych osobowych, które nam Państwo udostępnili. Dane te są chronione i zabezpieczone przed dostępem osób nieupoważnionych.
Użytkownik posiada prawo dostępu do treści swoich danych oraz prawo ich sprostowania, usunięcia, ograniczenia przetwarzania, prawo do przenoszenia danych, obejmujące uprawnienie do otrzymania danych i przesłania ich innemu administratorowi lub do żądania, w razie możliwości technicznych, przesłania tych danych bezpośrednio innemu administratorowi, prawo wniesienia sprzeciwu (do Generalnego Inspektora Ochrony Danych Osobowych, a po jego likwidacji do Prezesa Urzędu Ochrony Danych Osobowych), prawo do cofnięcia zgody w dowolnym momencie bez wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem. Wycofanie zgody nie wpływa na zgodność z prawem przetwarzania dokonanego przed jej wycofaniem.
Realizację praw może nastąpić m.in. za wykorzystaniem kontaktu poprzez adres e-mail: daneosobowe@bikeme.bapco.eu.
Administrator wykorzystuje na stronie www pliki cookies (tak zwane ciasteczka) tj. niewielkie informacje tekstowe, przechowywane na urządzeniu końcowym Użytkownika (np. laptopie, tablecie, czy innym urządzeniu mobilnym typu smartphone). Pliki Cookies mogą być odczytywane przez system teleinformatyczny Administratora.
Administrator przechowuje pliki cookies na urządzeniu końcowym Użytkownika, a następnie uzyskuje dostęp do informacji w nich zawartych w celach statystycznych, marketingowych (remarketing) oraz w celu zapewnienia prawidłowego działania Strony.
</p>

<p>&nbsp;</p>

<p>
Administrator informuje niniejszym Użytkownika, że istnieje możliwość takiej konfiguracji przeglądarki internetowej, która uniemożliwia przechowywanie plików cookies na urządzeniu końcowym Użytkownika. Jednocześnie informujemy iż w takiej sytuacji, korzystanie ze Strony przez Użytkownika może być utrudnione.
</p>

<p>&nbsp;</p>

<p>
Administrator podkreśla niniejszym, że pliki cookies mogą być przez Użytkownika usunięte po ich zapisaniu przez Administratora, poprzez odpowiednie funkcje przeglądarki internetowej, programy służące w tym celu lub skorzystanie z odpowiednich narzędzi dostępnych w ramach systemu operacyjnego, z którego korzysta Użytkownik.
</p>
                </section>
            </article>
            
            <article class="o-article" id="regulamin">
                
                <header class="o-header o-header--arrow">
                    <h2>Regulamin</h2>

                    <section class="o-further">
                        <a href="#reklamacje" class="icon-arrow-down js-goto"></a>
                    </section>
                </header>
                
                
                <section class="o-article__indent">
                    
<p>Administratorem strony internetowej www.bikeme.bapco.eu jest firma </p>
<p>BARTOSZ PIĄTKOWSKI BAPCO, ul. Adres 5, 62-010 Pobiedziska.</p>
<p>Kontakt z administratorem możliwy pod adresem e-mail: daneosobowe@bikeme.bapco.eu</p>
<p>Na potrzeby niniejszej polityki prywatności, przyjmuje się następujące znaczenie poniższych pojęć:</p>

<p>&nbsp;</p>

<p><strong>Administrator</strong> - BARTOSZ PIĄTKOWSKI BAPCO, ul. Fabryczna 16, 62-010 Pobiedziska.</p>
<p><strong>Strona</strong> – strona internetowa dostępna pod adresem www.bikeme.bapco.eu.</p>
<p><strong>Użytkownik</strong>– każdy podmiot, który korzysta ze Strony.</p>

<p>&nbsp;</p>

<p>
Użytkownik może przekazywać swoje dane osobowe Administratorowi za pomocą formularza kontaktowego dostępnego na Stronie. Administratorem danych osobowych Użytkownika jest Administrator.
Dane przekazane Administratorowi w ramach formularza kontaktu (tj. adres e-mail, imienia oraz telefonu kontaktowego) przetwarzane są w celu podjęcia akcji zawartej w formularzu.
</p>

<p>&nbsp;</p>

<p>
Ponadto Użytkownik może przekazywać swoje dane osobowe Administratorowi za pomocą wiadomości e-mail wysłanej na udostępnione na stronie adresy Administratora lub telefonicznie poprzez kontakt z udostępnionymi na stronie numerami telefonów.
</p>

<p>&nbsp;</p>

<p>
Podanie danych jest zawsze dobrowolne, ale niezbędne do podjęcia przez Użytkownika akcji, do której przeznaczony jest formularz lub zrealizowania żądania zawartego w skierowanym do niego e-mailu wysłanego na udostępniony na stronie adres/adresy lub zrealizowania żądania zawartego w rozmowie telefonicznej. Administrator uzyskane w ten sposób dane osobowe przetwarza na podstawie art. 6 ust. 1 lit. b) RODO. Ponadto Administrator będzie przetwarzał pozyskane dane osobowe:
</p>

<p>&nbsp;</p>

                    <ul>
                        <li>w celu świadczenia usług drogą elektroniczną oraz zawierania umów sprzedaży – podstawą prawną przetwarzania danych osobowych jest art. 6 ust. 1 lit. b) RODO,</li>
                        
<li>w celu kierowania treści marketingowych - podstawą prawną przetwarzania danych osobowych jest prawnie uzasadniony interes Administratora art. 6 ust. 1 lit. f) RODO; uzasadniony interes Administratora polega na przesyłaniu do Użytkownika treści marketingowych w okresie świadczenia na rzecz Użytkownika usług, drogą elektroniczną, pocztą oraz dodatkowo w sposób, na który Użytkownik wyraziła zgodę,

<li>w celu kierowania treści marketingowych na podstawie uzyskanej zgody Użytkownika - podstawą prawną przetwarzania danych osobowych jest prawnie uzasadniony interes Administratora art. 6 ust. 1 lit. a) RODO;

<li>w celu kierowania do Użytkownika newslettera, na co Użytkownik wyrazi zgodę podstawą prawną przetwarzania danych osobowych jest prawnie uzasadniony interes Administratora art. 6 ust. 1 lit. a) RODO;</li>
                    </ul>

<p>&nbsp;</p>

<p>Administrator będzie przetwarzał dane osobowe wyłącznie do czasu zrealizowania akacji, do którego przeznaczony jest formularz lub do momentu zrealizowania żądania zawartego w skierowanym do niego e-mailu. W przypadku gdy:</p>

<p>&nbsp;</p>

<ol>
    <li>dane osobowe przetwarzanych są w celu zawarcia i wykonania umów – przez czas niezbędny do wykonania 			wszystkich obowiązków wynikających z umów,</li>
    
    <li>dane osobowe przetwarzane są w celu kierowania do Użytkownika treści marketingowych w okresie realizacji umów zawartych z Użytkownikiem – do czasu zakończenia realizacji Umów</li>

    <li>dane osobowe przetwarzane są w celu kierowania do Użytkownika treści marketingowych na podstawie zgody – do czasu wniesienia przez Użytkownika sprzeciwu względem przetwarzania danych osobowych w tym zakresie,</li>
	
	<li>dane osobowe przetwarzane są w celu kierowania do Użytkownika newsletters na podstawie zgody – do czasu wniesienia przez Użytkownika sprzeciwu względem przetwarzania danych osobowych w tym zakresie.</li>
</ol>

<p>&nbsp;</p>

<p>
Administrator będzie profilował pozyskane dane osobowe Użytkowników.
Administrator gwarantuje poufność wszelkich przekazanych mu danych osobowych.
Administrator przywiązuje szczególną wagę do kwestii zachowania Państwa prywatności i ochrony Państwa danych osobowych. Jako administrator danych dbamy o bezpieczeństwo danych osobowych, które nam Państwo udostępnili. Dane te są chronione i zabezpieczone przed dostępem osób nieupoważnionych.
Użytkownik posiada prawo dostępu do treści swoich danych oraz prawo ich sprostowania, usunięcia, ograniczenia przetwarzania, prawo do przenoszenia danych, obejmujące uprawnienie do otrzymania danych i przesłania ich innemu administratorowi lub do żądania, w razie możliwości technicznych, przesłania tych danych bezpośrednio innemu administratorowi, prawo wniesienia sprzeciwu (do Generalnego Inspektora Ochrony Danych Osobowych, a po jego likwidacji do Prezesa Urzędu Ochrony Danych Osobowych), prawo do cofnięcia zgody w dowolnym momencie bez wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem. Wycofanie zgody nie wpływa na zgodność z prawem przetwarzania dokonanego przed jej wycofaniem.
Realizację praw może nastąpić m.in. za wykorzystaniem kontaktu poprzez adres e-mail: daneosobowe@bikeme.bapco.eu.
Administrator wykorzystuje na stronie www pliki cookies (tak zwane ciasteczka) tj. niewielkie informacje tekstowe, przechowywane na urządzeniu końcowym Użytkownika (np. laptopie, tablecie, czy innym urządzeniu mobilnym typu smartphone). Pliki Cookies mogą być odczytywane przez system teleinformatyczny Administratora.
Administrator przechowuje pliki cookies na urządzeniu końcowym Użytkownika, a następnie uzyskuje dostęp do informacji w nich zawartych w celach statystycznych, marketingowych (remarketing) oraz w celu zapewnienia prawidłowego działania Strony.
</p>

<p>&nbsp;</p>

<p>
Administrator informuje niniejszym Użytkownika, że istnieje możliwość takiej konfiguracji przeglądarki internetowej, która uniemożliwia przechowywanie plików cookies na urządzeniu końcowym Użytkownika. Jednocześnie informujemy iż w takiej sytuacji, korzystanie ze Strony przez Użytkownika może być utrudnione.
</p>

<p>&nbsp;</p>

<p>
Administrator podkreśla niniejszym, że pliki cookies mogą być przez Użytkownika usunięte po ich zapisaniu przez Administratora, poprzez odpowiednie funkcje przeglądarki internetowej, programy służące w tym celu lub skorzystanie z odpowiednich narzędzi dostępnych w ramach systemu operacyjnego, z którego korzysta Użytkownik.
</p>
                </section>
            </article>            
            
            <article class="o-article" id="reklamacje">
                
                <header class="o-header o-header--arrow">
                    <h2>Reklamacje i zwroty</h2>

                    <section class="o-further">
                        <a href="#kontakt" class="icon-arrow-down js-goto"></a>
                    </section>
                </header>
                
                
                <section class="o-article__indent">
                    
<p>
Administrator będzie profilował pozyskane dane osobowe Użytkowników.
Administrator gwarantuje poufność wszelkich przekazanych mu danych osobowych.
Administrator przywiązuje szczególną wagę do kwestii zachowania Państwa prywatności i ochrony Państwa danych osobowych. Jako administrator danych dbamy o bezpieczeństwo danych osobowych, które nam Państwo udostępnili. Dane te są chronione i zabezpieczone przed dostępem osób nieupoważnionych.
Użytkownik posiada prawo dostępu do treści swoich danych oraz prawo ich sprostowania, usunięcia, ograniczenia przetwarzania, prawo do przenoszenia danych, obejmujące uprawnienie do otrzymania danych i przesłania ich innemu administratorowi lub do żądania, w razie możliwości technicznych, przesłania tych danych bezpośrednio innemu administratorowi, prawo wniesienia sprzeciwu (do Generalnego Inspektora Ochrony Danych Osobowych, a po jego likwidacji do Prezesa Urzędu Ochrony Danych Osobowych), prawo do cofnięcia zgody w dowolnym momencie bez wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem. Wycofanie zgody nie wpływa na zgodność z prawem przetwarzania dokonanego przed jej wycofaniem.</p>

<p>&nbsp;</p>

<p>
Realizację praw może nastąpić m.in. za wykorzystaniem kontaktu poprzez adres e-mail: daneosobowe@bikeme.bapco.eu.
Administrator wykorzystuje na stronie www pliki cookies (tak zwane ciasteczka) tj. niewielkie informacje tekstowe, przechowywane na urządzeniu końcowym Użytkownika (np. laptopie, tablecie, czy innym urządzeniu mobilnym typu smartphone). Pliki Cookies mogą być odczytywane przez system teleinformatyczny Administratora.
Administrator przechowuje pliki cookies na urządzeniu końcowym Użytkownika, a następnie uzyskuje dostęp do informacji w nich zawartych w celach statystycznych, marketingowych (remarketing) oraz w celu zapewnienia prawidłowego działania Strony.
</p>

<p>&nbsp;</p>

<p><strong>
Administrator informuje niniejszym Użytkownika, że istnieje możliwość takiej konfiguracji przeglądarki internetowej, która uniemożliwia przechowywanie plików cookies na urządzeniu końcowym Użytkownika. Jednocześnie informujemy iż w takiej sytuacji, korzystanie ze Strony przez Użytkownika może być utrudnione.
</strong></p>

<p>&nbsp;</p>

<p>
Administrator podkreśla niniejszym, że pliki cookies mogą być przez Użytkownika usunięte po ich zapisaniu przez Administratora, poprzez odpowiednie funkcje przeglądarki internetowej, programy służące w tym celu lub skorzystanie z odpowiednich narzędzi dostępnych w ramach systemu operacyjnego, z którego korzysta Użytkownik.
</p>
                </section>
            </article>
            
        </div>        
    </div>
    
    <% include ./src/includes/contact %>
    <% include ./src/includes/footer %>
    
</body>
</html>
